In [1]:
#program to assign values to variable  1
a=10
a=10+2j
a="Hello"
print(a)

Hello

In [5]:
#Program to check the type of data  2
a={10,20,30}
type(a)
b="python"
c=[1,2,3]
d={'a':12,"d":45}
print(type(b),type(c),type(d))
type(c)
type(d)

<class 'str'> <class 'list'> <class 'dict'>

dict

In [7]:
#Initilizing multiple variables   3
p,q,r,s=3,4,5,6
print(p)
print(q)
print(r)
print(s)

3
4
5
6

In [8]:
#To print address   4
d=34
id(d)

140724732028744

In [11]:
#storing and extracting the details in variables   5
name="Krishna"
age=26
phone=9848022338
Email="krishna@gmail.com"
height=6
pancard=False
print(name)
print(Email)
print(pancard)

Krishna
krishna@gmail.com
False

In [12]:
#Extracting details by using list      6
k=["krishna",9848022338,"krishna@gmail.com",6,False]
print(k[2])
print(k[0])
print(k[3])

krishna@gmail.com
krishna
6

In [15]:
#Extracting details by using dictonary     7
k={"name":"krishna","age":26,"Email":"krishna@gmail.com","phone":9848022338,"pancard":False}
print(k["name"],k["phone"],k["Email"])

krishna 9848022338 krishna@gmail.com

In [16]:
#program to swap two variables with temp variale     8
g="haii"
y="bye"
temp=g
g=y
y=temp
print(g)
print(y)

bye
haii

In [17]:
#program to swap two variables without temp variable    9
m=[10,20]
n=(30,40)
m,n=n,m
print(m)
print(n)

(30, 40)
[10, 20]

In [18]:
#Program to initilize and re-initilize of variable  10
a={'a':"pyspiders"}
a['a']="python"
print(a)

{'a': 'python'}

In [20]:
#program to convert single to multiple datatype  11
a=10
a=str(a)
print(a)
a=list(a)
print(a)

10
['1', '0']

In [26]:
#Program to concat two multivalue datatypes   12
a="hello"
b="world"
a=a+b
print(a)
y=[1,2,3,4]
y+=(10,20,30)
print(y)
d=[1,3,4,5,]
d+={"l":8,'j':9}
print(d)
x={2,4,6,8}
x|={'a','d','t'}
print(x)
l=[1,2,3,4]
l+="haii"
print(l)
t=(1,2,3,4)
t+=('a','r','v')
print(t)
i=(4,6,7)
i+=[1,2,3]
print(i)

helloworld
[1, 2, 3, 4, 10, 20, 30]
[1, 3, 4, 5, 'l', 'j']
{'d', 2, 4, 't', 6, 'a', 8}
[1, 2, 3, 4, 'h', 'a', 'i', 'i']
(1, 2, 3, 4, 'a', 'r', 'v')

TypeError: can only concatenate tuple (not "list") to tuple

In [27]:
#Program to check the length of collection   13
a=[1,2,3,4,5,6,7]
b={1,2,3,4,5,5,5,0}
d={'a':2,'r':5,'v':9,'n':7}
t=(10,20,30,40)
s="hello world"
print(len(a),len(b),len(d),len(t),len(s))

7 6 4 4 11

In [29]:
#program to find middle value of collection   14
g=[1,4,68,'s','u',8]
print(len(g)//2)
d={'e':4,'h':8,'r':3,'t':0}
print(len(d)//2)

3
2

In [31]:
#program to concat new string into starting of existing string   15
s="programming"
s="Dynamic "+s

print(s)

Dynamic programming

In [32]:
#Program to concat new string at ending of existing string    16
s="programming"
s+=" language"
print(s)

programminglanguage

In [35]:
#program to concat new string at middle of existing string  17
s="How you"
s=s[0:len(s)//2]+"are"+s[len(s)//2:]
print(s)

Howare you

In [40]:
#program to modify character in string  18
s="pyspiders"
s=s[:len(s)//2]+'I'+s[len(s)//2+1:]
print(s)
s=s[:4]+'v'+s[4:]
print(s)

pyspIders
pyspvIders

In [43]:
#program to modify sequence of values in string  19
s="Helloworld"
s=s[:4]+"WOR"+s[-3:]
print(s)

HellWORrld

In [44]:
#program to replace character in the string   20
s="pyspiders"
s=s[:-4]+'D'+s[-3:]
print(s)

pyspiDers

In [1]:
#program to delete specific character of string   21
s="pyspiders"
s=s[:3]+s[4:]
print(s)

pysiders

In [2]:
#program to delete sequence of values in string   22
s="helloworld"
s=s[:3]+s[6:]
print(s)

helorld

In [4]:
#concat new string ar starting of ginev list   23
l=[1,3,4,5,6,7]
l[0:0]=[10,20]
print(l)

[10, 20, 1, 3, 4, 5, 6, 7]

In [7]:
#concat new list at ending of ginen list   24
l=['a','b','c','d']
l+=[1,2,3]
print(l)
t=["haii","hello"]
t=t+["bye"]
t

['a', 'b', 'c', 'd', 1, 2, 3]

['haii', 'hello', 'bye']

In [9]:
#cocat new values in the middle of the list   25
l=[1,3,5,7,8,2,4,]
l[len(l)//2:len(l)//2]=['a','b','d']
l

[1, 3, 5, 'a', 'b', 'd', 7, 8, 2, 4]

In [10]:
#concat new values at specific position   26
l=[1,4,8,4,6,7,9]
#l[sp:sp]=new value
l[3:3]=['e','f','g']
l

[1, 4, 8, 'e', 'f', 'g', 4, 6, 7, 9]

In [11]:
#to modify specific values in list   27
l=[10,20,30,40,50]
l[3]=60
l

[10, 20, 30, 60, 50]

In [12]:
#TO modify new value into starting of lst   28
l=[10,20,30,40]
l[0]=70
l

[70, 20, 30, 40]

In [15]:
#To modify new value at ending of list  29
l=[1,2,3,4,5]
l[-1]=222
print(l)
l[len(l)-1]=87
print(l)

[1, 2, 3, 4, 222]
[1, 2, 3, 4, 87]

In [16]:
#To modify new value into middle of list  30
l=[1,3,4,5,6,7]
l[len(l)//2]=78
l

[1, 3, 4, 78, 6, 7]

In [17]:
#To modify starting 4 position values in list   31
l=[1,2,3,4,5,6,7]
l[0:4]=['a','b','c','d']
l

['a', 'b', 'c', 'd', 5, 6, 7]

In [22]:
#To modify sequence of values in list   32
l=[1,2,3,4,5,5,6,7,8]
l[1::2]=['a','b','c','d']
print(l)
l[::2]=[l[0]**2,l[2]**2,l[4]**2,l[6]**2,l[8]**2]
print(l)

[1, 'a', 3, 'b', 5, 'c', 6, 'd', 8]
[1, 'a', 9, 'b', 25, 'c', 36, 'd', 64]

In [24]:
#to delete value in the specific position of list   33
l=[1,2,3,4,4,5]
del l[3]
l

[1, 2, 3, 4, 5]

In [25]:
#TO delete value at ending and starting of list   34
l=[1,2,3,4,5,6,7,8]
del l[0]
print(l)
del l[-1]
print(l)
del l[len(l)-1]
print(l)

[2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6]

In [27]:
#delete value at middle of list  35
l=[1,2,3,4,5,6,7]
l[len(l)//2:len(l)//2]=[]
l

[1, 2, 3, 4, 5, 6, 7]

In [29]:
#concat new value into ending of tuple  36
t=(1,2,3,4,5)
t=t+(10,20)
print(t)
t+=(50,60)
print(t)

(1, 2, 3, 4, 5, 10, 20)
(1, 2, 3, 4, 5, 10, 20, 50, 60)

In [30]:
#To concat new value at starting of tuple  37
t=(1,2,3,4,5)
t=(10,20,30)+t
t

(10, 20, 30, 1, 2, 3, 4, 5)

In [32]:
#To modify sequence of values in tuple  38
t=(1,2,3,4,5,6)
t=t[:3]+(10,20,30)+t[6:]
t

(1, 2, 3, 10, 20, 30)

In [33]:
#To delte sequence of values in tuple   39
t=(10,20,30,40,50,60,70,80)
t=t[:4]+t[7:]
t

(10, 20, 30, 40, 80)

In [35]:
#To concat new values into the set   40
s={1,2,3,4,5,6}
s|={10,2,30}
s

{1, 2, 3, 4, 5, 6, 10, 30}

In [36]:
#To delete sequence of value in set  41
s={1,2,3,4,5,6,7,7}
s-={3,4,6}
s

{1, 2, 5, 7}

In [37]:
#To concat new value and new key into the dict  42
d={'a':10,'b':20}
d['c']=100
d

{'a': 10, 'b': 20, 'c': 100}

In [38]:
#To delete item in dict  43
d={10:20,30:40,50:60}
del d[30]
d

{10: 20, 50: 60}

In [39]:
#To modify specific value in dict   44
d={10:100,20:200,30:3000}
d[20]='a'
d

{10: 100, 20: 'a', 30: 3000}

In [40]:
#To concat list and tuplie values by using type casting   45
l=['a','b','c','d']
t=(10,20,30)
l+t

TypeError: can only concatenate list (not "tuple") to list

In [41]:
#To concat list and tuole by using type casting  46
l=[1,2,3,4,5]
t=(10,20,30,40)
print(l+list(t))
print(tuple(l)+t)

[1, 2, 3, 4, 5, 10, 20, 30, 40]
(1, 2, 3, 4, 5, 10, 20, 30, 40)

In [42]:
#To concat list and tuple values without using typecasting  47
l=[1,2,3,4,5]
t=(10,20,30,40)
l+=t
l

[1, 2, 3, 4, 5, 10, 20, 30, 40]

In [43]:
#To check given number is divisible by 3   48
n=123
print(n%3==0)

True

In [44]:
#To check given number is divisible by 2 or 6    49
n=7688980
print(n%2==0 and n%6==0)

False

In [45]:
#to check the last digit ids divsibl by 3 from integer number(with out casting)   50
n=23349
print((n%10)%3==0)

True

In [46]:
#To check last digit is divisible by 3 with type casting   51
n=2023
print((int(str(n)[-1]))%3==0)

True

In [47]:
#To check given number is greater than  or equalto 100   52
n=277
print(n>=100)

True

In [48]:
#To check given number is lessthan or equal to 100   53
n=54
print(n<=100)

True

In [49]:
#to check given number is greater than 15 or less than 24   54
n=5797
print(n>15 or n<24)

True

In [50]:
#To check given number is greater than 150   55
n=244
print(n>150)

True

In [51]:
#To check the given number is even or not   56
n=466
print(n%2==0)

True

In [52]:
#To check the given number is odd or not  57
n=63509
print(n%2!=0)

True

In [55]:
#to perform the replication of a given string with 0  58
s="abc"
print(s*4)
l=[1,2,3]
print(l*3)
""""d={'a':10,'b':20}
print(d*3)"""""
t=(10,20,30)
print(t*4)

abcabcabcabc
[1, 2, 3, 1, 2, 3, 1, 2, 3]
(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)

In [56]:
# To perform replication on set and dict    59
d={'a':10,'b':20}
print(d*3)
s={1,2,3,5}
print(s*3)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [57]:
#To check given number is divisible by 3 and also number should be greaer than 22  60
n=356
print(n%3==0 and n>22)

False

In [58]:
#To check perform the length of collection is lessthan 55 and greater than 16   61
n="Helloworld"
print(len(n)<55 and len(n)>16)

False

In [59]:
#To check length of collection is even or not   62
n="ankjffdvndkjfo"
print(len(n)%2==0)

True

In [1]:
#To check length of collection is lessthan 55 and greater than 16   63
h="ldfhrygruwtueodkajfoirwut"
print(len(h)>16 and len(h)<55)

True

In [3]:
#to check length of collection is divisible by 5 and odd    64
h="abcdefghijklmnopqrstuvwxyz"
print(len(h)%5==0 and len(h)%2!=0)

False

In [1]:
#To extract middle position of given collection   65
s='hellothere'
s=s[len(s)//2]
print(s)
res=type(s[len(s)//2])
print(res)

t
<class 'str'>

In [2]:
#To check given number is greaterthan 30 and lessthan 30 and it should be even   66
n=25
print(n>30 and n<20 and n%2==0)

False

In [3]:
#To check given number is even and it should be lessthan 120    67
n=100
print(n%2==0 and n<120)

True

In [4]:
#To check given number is even and lessthan 90   68
n=99
print(n%2==0 and n>97)

False

In [5]:
#To check given number lessthan 122 and greaterthan 48 and number shoul be divisible by 4  69
n=100
print(n%4==0 and n>48 and n<122 )

True

In [6]:
#To check gien number is divisible by 3 or not    70
n=24
n=n%3==0
print(n)

True

In [7]:
#To check givn number is between 100 and 200 including the limit   71
n=150
print(100<=n<=200)

True

In [8]:
#To check number in between 100 and 200   72
n=125
print(100<n<200)

True

In [11]:
#To check given string last character ascii value should be divisible by 5 or not  73
s="apple"
print(ord(s[-1])%5==0)
s="appld"
print(ord(s[-1])%5==0)

False
True

In [14]:
#To check in between 60 to 130 and should be divisible by 3 nd 4 & last digit should be <9  74
n=129
print(60<n<130 and n%3==0 and n%4==0 and n%10>9)
n=120
print(60<n<130 and n%3==0 and n%4==0 and n%10<9)

False
True

In [15]:
#To check given number is even or lessthan 28   75
n=26
print(n%2==0 or n<28)

True

In [16]:
#To check given odd or greaterthan 28   76
n=81
print(n%2!=0 or n<28)

True

In [17]:
#To check given number is divisible by either 3 or 5    77
n=16
print(n%3==0 or n%5==0)

False

In [18]:
#To check given number is not an even number   78
n=10
print(n%2!=0)

False

In [19]:
#t check given umber is not odd    79
n=30
print(n%2==0)

True

In [20]:
#To check number is not a divisible by 3   80
n=40
print(n%3!=0)

True

In [21]:
#To check number not divisible by 3 and 5   81
n=50
print(n%3!=0 or n%5!=0)

True

In [22]:
#To check number by 3 or 5   82
n=20
print(n%3!=0 or n%5!=0)

True

In [23]:
#To check given character ascii value is not divisible by 5  83
ch='c'
ch=ord('c')
print(ch%5!=0)

True

In [26]:
#To find out ascii character for given number   84
n=65
n=chr(n)
print(n)
n=45
n=chr(n)
print(n)
k=23
k=chr(k)
print(k)

A
-


In [28]:
#Equation to find out ascii value   85
n='a'
n=ord(n)
print(n)
p='>'
p=ord(p)
print(p)

97
62

In [31]:
#check given character is uppercase or not   86
ch='g'
print('A'<=ch<='Z')
u='G'
print('A'<=u<='Z')
r='De'
print('A'<=r<='Z')

False
True
True

In [32]:
#To check given charecter is upper case or not   87
j='Gj'
print(len(j)==1 and 'A'<=j<='Z')

False

In [36]:
#to check given charecter is lower case or not  88
m='d'
print('a'<=m<='z')
m='dT'
print('a'<=m<='z')

True
True

In [37]:
#To check given character is lower case or not  89
m='dT'
print(len(m)==1 and 'a'<=m<='z')

False

In [48]:
#To check given character is alphabet or not   90
j='s'
print('A'<=j<='Z' or 'a'<=j<='z')
k='Tu'
print(len(k)==1 and 'A'<=k<='Z' or 'a'<=k<='z')
x='3'
print('A'<=x<='Z' or 'a'<=x<='z')

True
False
False

In [50]:
#To check given character is ascii number    91
j='4'
print('0'<=j<='9') 
print(len(j)==1 and '0'<=j<='9')

True
True

In [56]:
#To check given chracter is special character or not   92
i="&"
print('A'<=i<='Z' or 'a'<=i<='z' or '0'<=i<='9')
print(len(i)==1 and not ('A'<=i<='Z' or 'a'<=i<='z' or '0'<=i<='9'))

False
True

In [58]:
#To check given character should not be uppercase   93
n='A'
print(not('A'<=n<='Z'))

False

In [59]:
#To check given character should not be lowercase   94
n='e'
print(not('a'<=n<='z'))

False

In [60]:
#To check given character should not be special character   95
n='p'
print(not('A'<=n<='Z and' 'a'<=n<='z'))

True

In [62]:
#To check given character should not be an ascii number   96
n='h'
print(not('0'<=n<='9'))

True

In [64]:
#To check if given character is special charecter   97
n='$'
print(not('A'<=n<='Z' and 'a'<=n<='z' and '0'<=n<='9'))

True

In [66]:
#to check given characer is vowel    98
t='A'
print(t=='A' or t=='E' or t=='I' or t=='O' or t=='U' or t=='a' or t=='e' or t=='i' or t=='o' or t=='u' )
print(t in "aeiouAEIOU")

True
True

In [70]:
#To check given character is consnent   99
t='w'
print(not(t=='A' or t=='E' or t=='I' or t=='O' or t=='U' or t=='a' or t=='e' or t=='i' or t=='o' or t=='u'))
print( t not in"aeiouAEIOU")

True
True

In [73]:
#To convert to uppercase to lowercase   100
u='I'
print(chr(ord(u)+32))
print(u.lower())

i
i

In [81]:
#To convert lowercase to uppercase   101
r='e'
print(chr(ord(r)-32))
print(r.upper())

E
E

In [82]:
#To extract previous character of  given character   102
u='K'
print(chr(ord(u)-1))

J

In [84]:
#To extract next character   103
u='k'
print(chr(ord(u)+1))

l

In [85]:
#To charecter is converted to ascii and value is even as well asshould be lower case   104
t='r'
print(len(t)==1 and ord(r)%2==0 and 'a'<=t<='z')

False

In [87]:
#To character is converted to ascii and is odd and should be uppercase   105
n='s'
print(len(n)==1 and ord(n)%2!=0 and 'A'<=n<='Z')

False

In [89]:
#To converted to char and is not a special character   106
n='t'
print(len(n)==1 and 'a'<=n<='z' and 'A'<=n<='Z')

False

In [93]:
#To check ifthe first and second caracter are sequence or not in a given string    107
s="abcd"
print(ord(s[0])+1==ord(s[1]))
print(ord(s[0])==ord(s[1])-1)

True
True

In [94]:
#To check given chracter ascii value should be either greaterthan 50 or greaterthan 28 or less than112   108
t='0'
print(ord(t)>25 or ord(t)<112)

True

In [95]:
#Given character increased by 1   109
m=10
print(m+1)

11

In [96]:
#to check given integer present in coleection or not    110
n=10
c=[10,20,30,40]
print(n in c)

True

In [97]:
#To perform addition operation on A value and B value and final result should be updated A  111
s='D'
c="pyspiders"
print(s in c)

False

In [98]:
#to check given list is present in tuple    112
s=[10,20]
t=(1,2,3,[10,20])
print(s in t)

True

In [99]:
#To check given dict value is present in tuple  113
s={'a':10,'b':20}
t=(1,2,3,4,5,{'a':10})
print(s in t)

False

In [100]:
#To check given character is integer or not   114
b=15
type(15)

int

In [101]:
#To check givn value is string or not    115
b='112'
type(b)

str

In [102]:
#to check given value is single or not  116
c=b'1010'
print(type(c)in[int,float,complex,bytes,type(None)])

True

In [104]:
#To check given value is should not be a single value   117
c='1010'
print(type(c) not in[int,float,complex,bytes,type(None)])

True

In [105]:
#To check given value is multi value or nt   118
c="psy"
print(type(c)in[str,list,tuple,dict,set])

True

In [106]:
#To check given value is multi value or nt   119
c="psy"
print(type(c) not in[str,list,tuple,dict,set])

False

In [108]:
#To check given is mutable or not  120
u="haii"
print(type(u)in[list,dict,set])
print(type(u)not in[int,float,complex,bytes,str,tuple])

False
False

In [111]:
#To check given is immutable or not  121
u="hello"
print(type(u)not in[list,set,dict])
print(type(u)in[int,float,complex,bytes,str,tuple])

True
True

In [112]:
#divisible by 6 as well as present in collection  122
n=36
print(n%6==0 and n in[10,20,34,78])

False

In [113]:
#to perform bitwiesand operation in given values   123
m=16
n=19
m&n

16

In [114]:
#To perform bitwise or operation  124
m=54
n=23
m|n

55

In [115]:
#To perform bitwise xor operation   125
m=43
n=98
m^n

73

In [116]:
#To perform bitwise not operation  126
m=43
print(~m)

-44

In [117]:
#To perform bitwise leftshift   127
n=15
n=n<<3
print(n)

120

In [118]:
#To perform bitwise rightshift  128
m=34
m=m>>2
print(m)

8

In [ ]:
#findout

In [120]:
#To check if given key is present in dict or not   130
d={'a':10,'hai':20,(100,):(10,20)}
k='a'
print(k in d)
print(k in d.keys())

True
True

In [122]:
#To check if given value is prsent in dict or not  131
d={'a':10,'h':80,'u':5}
k=10
print(k in d)
print(k in d.values())

False
True

In [123]:
#To check if ky is not present in dict   132
d={1:2,6:4,0:5}
k=1
print(k not in d)

False

In [126]:
#To check if key value pair is present in dict or not   133
d={'a':10,'b':20,'c':30}
k=('a',10)
print(k in d.items())

True

In [127]:
#To check if two values are pointing to same address  134
15 is 15

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\user\AppData\Local\Temp\ipykernel_1276\1871366565.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  15 is 15

True

In [128]:
#  135
a=15
b=15
a is b

True

In [130]:
#To check both values should be integer and both the values are pointing to same address    136
a=256
b=256
print(type(a)==type(b)==int and a is b)
c=257
d=257
print(type(c)==type(d)==int==c is d)

True
False